<% cache [locale, @details, @rationale, @autofill] do -%>
<div class="row">
<div class="col-xs-12">
<h1><%= t('criteria_overall.beginning_header_all') %></h1>
<%= t("criteria_overall.beginning_all_html") %>
<%= t("criteria_overall.see_discussion_html") %>

<% Criteria.keys.each do |criteria_level| -%>
<%=  render 'one_level',
            {
              criteria_level: criteria_level,
              details: @details, rationale: @rationale,
              autofill: @autofill,
              bare_key: false
            } -%>
<% end %>
</div>
</div>
<% end # cache -%>
