<% cache locale do -%>
<div class="jumbotron">
<% Criteria.keys.each do |criteria_level| -%>
<%=  render partial: 'one_level', locals: {criteria_level: criteria_level} -%>
<% end %>
</div>
<% end # cache -%>
