<% cache ['criteria_stats', locale, @criteria_level] do -%>
<div class="row">
<div class="col-xs-12">
<h1><%= t("criteria_overall.beginning_header_#{@criteria_level}") %></h1>
<%= t("criteria_overall.beginning_#{@criteria_level}_html") %>
<%= t("criteria_overall.see_discussion_html") %>

<%= render 'one_level', {criteria_level: @criteria_level, bare_key: true} %>
</div>
</div>
<% end # cache -%>
