<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner">Programme de badges sur les meilleures pratiques de la CII</h2>
      <%= link_to 'Obtenez votre badge maintenant!', new_project_path, class:"btn btn-success btn-main-getbadge btn-main-margin" %>

      <p class="no-padding best-practices-main-text">
      La <a href="https://www.linuxfoundation.org/">Linux Foundation (LF)</a>
      <a href="https://www.coreinfrastructure.org/">Infrastructure de base
      Initiative (CII)</a>
      Le badge Best Practices est un moyen de logiciel libre (FLOSS) à
      montrent qu'ils suivent les meilleures pratiques.
      Les projets peuvent volontairement s'autographier
      sans frais en utilisant ce
      Application Web pour expliquer comment
      ils suivent toutes les meilleures pratiques.
      L'insigne CII Best Practices s'inspire des nombreux badges disponibles
      aux projets sur GitHub. Les consommateurs du badge pourront
      évaluer rapidement quels projets FLOSS suivent les meilleures pratiques
      et, par conséquent,
      sont plus susceptibles de produire une sécurité de meilleure qualité
      logiciel.

      </p>
      <p class="no-padding best-practices-main-text">
      Plus d'informations sur le programme de badges
      sur les meilleures pratiques de CII,
      y compris l'arrière-plan et
      <a href='https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md'>les critères</a>,
      sont
      <a href='https://github.com/linuxfoundation/cii-best-practices-badge'>disponibles sur GitHub</a>.
        <a href="/fr/project_stats">Statistiques du projet</a> et
        <a href="/fr/criteria">statistiques de critères</a> sont disponibles.
        La <a href="/fr/projects">page de projets</a>
        montre les projets participants
        et prend en charge les requêtes (par exemple, vous pouvez voir
        <a href="/fr/projects?gteq=100">projets ayant
        un badge décroissant</a>),
        vous pouvez également voir
        <a href='/fr/projects/1'>un exemple (où nous essayons
        d'obtenir notre propre badge)</a>.</p>

      <p class="no-padding best-practices-main-text">
        <i>Confidentialité et problèmes juridiques </i>:
        S'il vous plaît voir notre
        <a href="https://www.linuxfoundation.org/privacy">politique
        de confidentialité</a> et
        <a href="https://www.linuxfoundation.org/terms">termes d'utilisation</a>.
        Tout le contenu non codé disponible publiquement
        est publié sous au moins le
        <a href="https://creativecommons.org/licenses/by/3.0/">Creative
        Commons Attribute License version 3.0 (CC-BY-3.0)</a>;
        nouveau contenu sans code
        est diffusé sous CC-BY version 3.0 ou ultérieure (CC-BY-3.0+).
        Si l'on se réfère collectivement ou non,
        veuillez créditer les contributeurs des badges
        de meilleures pratiques de CII.
      </p>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="home-badge pull-right"></div>
    </div>
  </div>
  <br>
