<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner">CII 最佳实践徽章计划</h2>
      <%= link_to '马上获取徽章！', new_project_path, class:"btn btn-success btn-main-getbadge btn-main-margin" %>

      <p class="no-padding best-practices-main-text">
        The <a href="https://www.linuxfoundation.org/">Linux 基金会 (LF)</a>
        <a href="https://www.coreinfrastructure.org/">核心基础设施计划
         (CII)</a>
        最佳实践徽章是自由和开放源代码软件(FLOSS)项目展示自己遵循安全最佳实践的途径。
        项目可以使用本Web应用，自愿、免费的自助认证，来阐述如何遵循每项最佳实践。
        The CII 最佳实践徽章受到GitHub上众多可获得的徽章系统的启发。徽章的目标用户将能够
          快速评估哪些FLOSS项目遵循最佳实践，也将更容易地构建高质量的安全软件。
      </p>

      <p class="no-padding best-practices-main-text">
        关于CII 最佳实践徽章计划的更多信息，
        包括背景以及
        <a href='https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md'>标准</a>, 可以访问
        <a href='https://github.com/linuxfoundation/cii-best-practices-badge'>GitHub 项目</a>.
        <a href="/zh-CN/project_stats">项目统计数据</a> 和
        <a href="/zh-CN/criteria">标准统计数据</a> 也同时提供。
        <a href="/zh-CN/projects">项目页面</a> 展示所有参与的项目，
        并支持查询（例如，你可以看到
        <a href="/zh-CN/projects?gteq=100">已经获取通过徽章的项目</a>)。
        你也可以查询
        <a href='/zh-CN/projects/1'>一个示例（我们是如何获取自己的徽章的）</a>。
      </p>

      <p class="no-padding best-practices-main-text">
        <i>隐私和法律问题</i>：
        请访问我们的
        <a href="https://www.linuxfoundation.org/privacy">隐私策略</a>
        和
        <a href="https://www.linuxfoundation.org/terms">使用条款</a>.
        所有公开可获得的非代码内容使用
        <a href="https://creativecommons.org/licenses/by/3.0/">知识共享署名许可证版本3.0 (CC-BY-3.0)</a>及其后续版本发布；
        新的非代码内容
        使用CC-BY 版本 3.0 或者更高 (CC-BY-3.0+)。
        如果集体引用，或不另外注明，
        请标明出处为CII最佳实践徽章贡献者。
      </p>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="home-badge pull-right"></div>
    </div>
  </div>
  <br>
