<div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 class="best-practices-banner">Programme de badges des meilleures pratiques de la CII</h2>
      <%= link_to 'Obtenez votre badge immédiatement !', new_project_path, class:"btn btn-success btn-main-getbadge btn-main-margin" %>

      <p class="no-padding best-practices-main-text">
      Le programme de badges des meilleures pratiques de
      la <a href="https://www.coreinfrastructure.org/">Core Infrastructure
      Initiative (CII)</a> de
      la <a href="https://www.linuxfoundation.org/">Fondation Linux</a> est un
      moyen pour les projets de logiciel libre (FLOSS) de montrer qu'ils
      suivent les meilleures pratiques de développement. Les projets peuvent
      s'auto-évaluer de manière volontaire, sans frais, en utilisant cette
      application Web pour expliquer comment ils suivent chacune des meilleures
      pratiques.  Le programme de badges des meilleures pratiques de la CII
      s'inspire des nombreux badges disponibles aux projets sur GitHub. Les
      consommateurs du badge pourront évaluer rapidement quels projets de
      logiciel libre suivent les meilleures pratiques et, par conséquent, sont
      plus susceptibles de produire des logiciels sûrs et de meilleure qualité.

      </p>
      <p class="no-padding best-practices-main-text">
      Plus d'informations sur le programme de badges
      des meilleures pratiques de la CII,
      incluant des renseignements généraux et
      <a href='https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md'>les
      critères</a>, sont
      <a href='https://github.com/linuxfoundation/cii-best-practices-badge'>disponibles sur GitHub</a>.
        <a href="/fr/project_stats">Les statistiques du projet</a> et
        <a href="/fr/criteria">des statistiques sur les critères</a> sont
        disponibles.  La <a href="/fr/projects">page des projets</a> liste les
        projets participants et permet des requêtes (par exemple, vous
        pouvez y voir
        <a href="/fr/projects?gteq=100">les projets ayant obtenu le
        badge</a>). Vous pouvez également y voir
        <a href='/fr/projects/1'>un exemple (où nous essayons
        d'obtenir notre propre badge)</a>.</p>

      <p class="no-padding best-practices-main-text">
        <i>Confidentialité et problèmes juridiques </i>:
        Consultez notre
        <a href="https://www.linuxfoundation.org/privacy">politique
        de confidentialité</a> et nos
        <a href="https://www.linuxfoundation.org/terms">conditions
        d'utilisation</a>.  Tout les contenus publiquement disponibles qui ne
        sont pas sous forme de code sont publiés sous la license
        <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons
        Attribution License version 3.0 (CC-BY-3.0)</a> ou plus permissive ;
        les contenus similaires plus récents sont diffusés sous la license
        CC-BY version 3.0 ou ultérieure (CC-BY-3.0+).  Pour faire référence
        globalement à ces contenus, ou en l'absence d'instructions spécifiques,
        veuillez mentionner comme source les contributeurs du programme de
        badges des meilleures pratiques de la CII.
      </p>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="home-badge pull-right"></div>
    </div>
  </div>
  <br>
