<h1>CII Best Practices Badging Program</h1>

<p>Hello,</p>

<p>
Thank you for connecting your GitHub account and welcome to the CII Best Practices Badging Program!
</p>

<p>
If you did not initiate this actions, please check your GitHub security log
under Settings&gt;Security.
</p>
