---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/assimilation/assimilation-official
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1449947889'
      Last-Modified:
      - Wed, 02 Dec 2015 16:40:01 GMT
      Etag:
      - W/"4bd2557a7c83c43e2943dd1cdbd459bc"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":42373046,"name":"assimilation-official","full_name":"assimilation/assimilation-official","owner":{"login":"assimilation","id":8259338,"avatar_url":"https://avatars.githubusercontent.com/u/8259338?v=3","gravatar_id":"","url":"https://api.github.com/users/assimilation","html_url":"https://github.com/assimilation","followers_url":"https://api.github.com/users/assimilation/followers","following_url":"https://api.github.com/users/assimilation/following{/other_user}","gists_url":"https://api.github.com/users/assimilation/gists{/gist_id}","starred_url":"https://api.github.com/users/assimilation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/assimilation/subscriptions","organizations_url":"https://api.github.com/users/assimilation/orgs","repos_url":"https://api.github.com/users/assimilation/repos","events_url":"https://api.github.com/users/assimilation/events{/privacy}","received_events_url":"https://api.github.com/users/assimilation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/assimilation/assimilation-official","description":"This
        is the official main repository for the Assimilation project","fork":false,"url":"https://api.github.com/repos/assimilation/assimilation-official","forks_url":"https://api.github.com/repos/assimilation/assimilation-official/forks","keys_url":"https://api.github.com/repos/assimilation/assimilation-official/keys{/key_id}","collaborators_url":"https://api.github.com/repos/assimilation/assimilation-official/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/assimilation/assimilation-official/teams","hooks_url":"https://api.github.com/repos/assimilation/assimilation-official/hooks","issue_events_url":"https://api.github.com/repos/assimilation/assimilation-official/issues/events{/number}","events_url":"https://api.github.com/repos/assimilation/assimilation-official/events","assignees_url":"https://api.github.com/repos/assimilation/assimilation-official/assignees{/user}","branches_url":"https://api.github.com/repos/assimilation/assimilation-official/branches{/branch}","tags_url":"https://api.github.com/repos/assimilation/assimilation-official/tags","blobs_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/assimilation/assimilation-official/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/assimilation/assimilation-official/git/refs{/sha}","trees_url":"https://api.github.com/repos/assimilation/assimilation-official/git/trees{/sha}","statuses_url":"https://api.github.com/repos/assimilation/assimilation-official/statuses/{sha}","languages_url":"https://api.github.com/repos/assimilation/assimilation-official/languages","stargazers_url":"https://api.github.com/repos/assimilation/assimilation-official/stargazers","contributors_url":"https://api.github.com/repos/assimilation/assimilation-official/contributors","subscribers_url":"https://api.github.com/repos/assimilation/assimilation-official/subscribers","subscription_url":"https://api.github.com/repos/assimilation/assimilation-official/subscription","commits_url":"https://api.github.com/repos/assimilation/assimilation-official/commits{/sha}","git_commits_url":"https://api.github.com/repos/assimilation/assimilation-official/git/commits{/sha}","comments_url":"https://api.github.com/repos/assimilation/assimilation-official/comments{/number}","issue_comment_url":"https://api.github.com/repos/assimilation/assimilation-official/issues/comments{/number}","contents_url":"https://api.github.com/repos/assimilation/assimilation-official/contents/{+path}","compare_url":"https://api.github.com/repos/assimilation/assimilation-official/compare/{base}...{head}","merges_url":"https://api.github.com/repos/assimilation/assimilation-official/merges","archive_url":"https://api.github.com/repos/assimilation/assimilation-official/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/assimilation/assimilation-official/downloads","issues_url":"https://api.github.com/repos/assimilation/assimilation-official/issues{/number}","pulls_url":"https://api.github.com/repos/assimilation/assimilation-official/pulls{/number}","milestones_url":"https://api.github.com/repos/assimilation/assimilation-official/milestones{/number}","notifications_url":"https://api.github.com/repos/assimilation/assimilation-official/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/assimilation/assimilation-official/labels{/name}","releases_url":"https://api.github.com/repos/assimilation/assimilation-official/releases{/id}","created_at":"2015-09-12T21:04:36Z","updated_at":"2015-12-02T16:40:01Z","pushed_at":"2015-12-06T03:22:27Z","git_url":"git://github.com/assimilation/assimilation-official.git","ssh_url":"git@github.com:assimilation/assimilation-official.git","clone_url":"https://github.com/assimilation/assimilation-official.git","svn_url":"https://github.com/assimilation/assimilation-official","homepage":null,"size":3955,"stargazers_count":6,"watchers_count":6,"language":"C","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":3,"forks":2,"open_issues":3,"watchers":6,"default_branch":"master","organization":{"login":"assimilation","id":8259338,"avatar_url":"https://avatars.githubusercontent.com/u/8259338?v=3","gravatar_id":"","url":"https://api.github.com/users/assimilation","html_url":"https://github.com/assimilation","followers_url":"https://api.github.com/users/assimilation/followers","following_url":"https://api.github.com/users/assimilation/following{/other_user}","gists_url":"https://api.github.com/users/assimilation/gists{/gist_id}","starred_url":"https://api.github.com/users/assimilation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/assimilation/subscriptions","organizations_url":"https://api.github.com/users/assimilation/orgs","repos_url":"https://api.github.com/users/assimilation/repos","events_url":"https://api.github.com/users/assimilation/events{/privacy}","received_events_url":"https://api.github.com/users/assimilation/received_events","type":"Organization","site_admin":false},"network_count":2,"subscribers_count":5}'
  recorded_at: Sat, 12 Dec 2015 18:58:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/assimilation/assimilation-official/license
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1449947889'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 12 Dec 2015 18:58:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/assimilation/assimilation-official/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1449947889'
      Last-Modified:
      - Wed, 02 Dec 2015 16:40:01 GMT
      Etag:
      - W/"5dd14a04263ab28e8df2f8e3a2b4d379"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"3689aa1556d16f29defb28962f4e5bd425436b71","size":999,"url":"https://api.github.com/repos/assimilation/assimilation-official/contents/.gitignore?ref=master","html_url":"https://github.com/assimilation/assimilation-official/blob/master/.gitignore","git_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/3689aa1556d16f29defb28962f4e5bd425436b71","download_url":"https://raw.githubusercontent.com/assimilation/assimilation-official/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/assimilation/assimilation-official/contents/.gitignore?ref=master","git":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/3689aa1556d16f29defb28962f4e5bd425436b71","html":"https://github.com/assimilation/assimilation-official/blob/master/.gitignore"}},{"name":".travis.yml","path":".travis.yml","sha":"58fe8aa584923706ce48fa90371115a599377ce6","size":1043,"url":"https://api.github.com/repos/assimilation/assimilation-official/contents/.travis.yml?ref=master","html_url":"https://github.com/assimilation/assimilation-official/blob/master/.travis.yml","git_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/58fe8aa584923706ce48fa90371115a5993[...]
