---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/assimilation/assimilation-official?client_id=17a26e63d809313d64dd&client_secret=d7567231bee265358462176dca802e30479992f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1460666598'
      Etag:
      - W/"5d4fdff4ddb3087aaed428da810cf559"
      Last-Modified:
      - Tue, 05 Apr 2016 15:19:50 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":42373046,"name":"assimilation-official","full_name":"assimilation/assimilation-official","owner":{"login":"assimilation","id":8259338,"avatar_url":"https://avatars.githubusercontent.com/u/8259338?v=3","gravatar_id":"","url":"https://api.github.com/users/assimilation","html_url":"https://github.com/assimilation","followers_url":"https://api.github.com/users/assimilation/followers","following_url":"https://api.github.com/users/assimilation/following{/other_user}","gists_url":"https://api.github.com/users/assimilation/gists{/gist_id}","starred_url":"https://api.github.com/users/assimilation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/assimilation/subscriptions","organizations_url":"https://api.github.com/users/assimilation/orgs","repos_url":"https://api.github.com/users/assimilation/repos","events_url":"https://api.github.com/users/assimilation/events{/privacy}","received_events_url":"https://api.github.com/users/assimilation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/assimilation/assimilation-official","description":"This
        is the official main repository for the Assimilation project","fork":false,"url":"https://api.github.com/repos/assimilation/assimilation-official","forks_url":"https://api.github.com/repos/assimilation/assimilation-official/forks","keys_url":"https://api.github.com/repos/assimilation/assimilation-official/keys{/key_id}","collaborators_url":"https://api.github.com/repos/assimilation/assimilation-official/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/assimilation/assimilation-official/teams","hooks_url":"https://api.github.com/repos/assimilation/assimilation-official/hooks","issue_events_url":"https://api.github.com/repos/assimilation/assimilation-official/issues/events{/number}","events_url":"https://api.github.com/repos/assimilation/assimilation-official/events","assignees_url":"https://api.github.com/repos/assimilation/assimilation-official/assignees{/user}","branches_url":"https://api.github.com/repos/assimilation/assimilation-official/branches{/branch}","tags_url":"https://api.github.com/repos/assimilation/assimilation-official/tags","blobs_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/assimilation/assimilation-official/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/assimilation/assimilation-official/git/refs{/sha}","trees_url":"https://api.github.com/repos/assimilation/assimilation-official/git/trees{/sha}","statuses_url":"https://api.github.com/repos/assimilation/assimilation-official/statuses/{sha}","languages_url":"https://api.github.com/repos/assimilation/assimilation-official/languages","stargazers_url":"https://api.github.com/repos/assimilation/assimilation-official/stargazers","contributors_url":"https://api.github.com/repos/assimilation/assimilation-official/contributors","subscribers_url":"https://api.github.com/repos/assimilation/assimilation-official/subscribers","subscription_url":"https://api.github.com/repos/assimilation/assimilation-official/subscription","commits_url":"https://api.github.com/repos/assimilation/assimilation-official/commits{/sha}","git_commits_url":"https://api.github.com/repos/assimilation/assimilation-official/git/commits{/sha}","comments_url":"https://api.github.com/repos/assimilation/assimilation-official/comments{/number}","issue_comment_url":"https://api.github.com/repos/assimilation/assimilation-official/issues/comments{/number}","contents_url":"https://api.github.com/repos/assimilation/assimilation-official/contents/{+path}","compare_url":"https://api.github.com/repos/assimilation/assimilation-official/compare/{base}...{head}","merges_url":"https://api.github.com/repos/assimilation/assimilation-official/merges","archive_url":"https://api.github.com/repos/assimilation/assimilation-official/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/assimilation/assimilation-official/downloads","issues_url":"https://api.github.com/repos/assimilation/assimilation-official/issues{/number}","pulls_url":"https://api.github.com/repos/assimilation/assimilation-official/pulls{/number}","milestones_url":"https://api.github.com/repos/assimilation/assimilation-official/milestones{/number}","notifications_url":"https://api.github.com/repos/assimilation/assimilation-official/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/assimilation/assimilation-official/labels{/name}","releases_url":"https://api.github.com/repos/assimilation/assimilation-official/releases{/id}","deployments_url":"https://api.github.com/repos/assimilation/assimilation-official/deployments","created_at":"2015-09-12T21:04:36Z","updated_at":"2016-04-05T15:19:50Z","pushed_at":"2016-04-14T17:15:51Z","git_url":"git://github.com/assimilation/assimilation-official.git","ssh_url":"git@github.com:assimilation/assimilation-official.git","clone_url":"https://github.com/assimilation/assimilation-official.git","svn_url":"https://github.com/assimilation/assimilation-official","homepage":null,"size":14985,"stargazers_count":11,"watchers_count":11,"language":"C","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":8,"mirror_url":null,"open_issues_count":7,"forks":8,"open_issues":7,"watchers":11,"default_branch":"master","master_branch":"master","license":null,"organization":{"login":"assimilation","id":8259338,"avatar_url":"https://avatars.githubusercontent.com/u/8259338?v=3","gravatar_id":"","url":"https://api.github.com/users/assimilation","html_url":"https://github.com/assimilation","followers_url":"https://api.github.com/users/assimilation/followers","following_url":"https://api.github.com/users/assimilation/following{/other_user}","gists_url":"https://api.github.com/users/assimilation/gists{/gist_id}","starred_url":"https://api.github.com/users/assimilation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/assimilation/subscriptions","organizations_url":"https://api.github.com/users/assimilation/orgs","repos_url":"https://api.github.com/users/assimilation/repos","events_url":"https://api.github.com/users/assimilation/events{/privacy}","received_events_url":"https://api.github.com/users/assimilation/received_events","type":"Organization","site_admin":false},"network_count":8,"subscribers_count":5}'
  recorded_at: Thu, 14 Apr 2016 19:43:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/assimilation/assimilation-official/contents/?client_id=17a26e63d809313d64dd&client_secret=d7567231bee265358462176dca802e30479992f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1460666598'
      Etag:
      - W/"076f6f97467a228c474e928b6d5c6871"
      Last-Modified:
      - Tue, 05 Apr 2016 15:19:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"d9d715b5b1f205ccd16c0a01eff94bf846b6b23d","size":1148,"url":"https://api.github.com/repos/assimilation/assimilation-official/contents/.gitignore?ref=master","html_url":"https://github.com/assimilation/assimilation-official/blob/master/.gitignore","git_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/d9d715b5b1f205ccd16c0a01eff94bf846b6b23d","download_url":"https://raw.githubusercontent.com/assimilation/assimilation-official/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/assimilation/assimilation-official/contents/.gitignore?ref=master","git":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/d9d715b5b1f205ccd16c0a01eff94bf846b6b23d","html":"https://github.com/assimilation/assimilation-official/blob/master/.gitignore"}},{"name":".travis.yml","path":".travis.yml","sha":"2e50ddb6c8cc13271fc7048e3c921bc5be6149ff","size":1208,"url":"https://api.github.com/repos/assimilation/assimilation-official/contents/.travis.yml?ref=master","html_url":"https://github.com/assimilation/assimilation-official/blob/master/.travis.yml","git_url":"https://api.github.com/repos/assimilation/assimilation-official/git/blobs/2e50ddb6c8cc13271fc7048e3c921bc5be6[...]
