---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1471297209'
      Etag:
      - W/"cc5a3be122e6dcc263f26b3b4441419f"
      Last-Modified:
      - Mon, 15 Aug 2016 14:03:05 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"name":"cii-best-practices-badge","full_name":"linuxfoundation/cii-best-practices-badge","owner":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/linuxfoundation/cii-best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge","forks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/forks","keys_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/teams","hooks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/events","assignees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/tags","blobs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscription","commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/merges","archive_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/downloads","issues_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/releases{/id}","deployments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/deployments","created_at":"2015-07-22T20:14:25Z","updated_at":"2016-08-15T14:03:05Z","pushed_at":"2016-08-15T20:52:08Z","git_url":"git://github.com/linuxfoundation/cii-best-practices-badge.git","ssh_url":"git@github.com:linuxfoundation/cii-best-practices-badge.git","clone_url":"https://github.com/linuxfoundation/cii-best-practices-badge.git","svn_url":"https://github.com/linuxfoundation/cii-best-practices-badge","homepage":"https://bestpractices.coreinfrastructure.org","size":4697,"stargazers_count":247,"watchers_count":247,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":33,"mirror_url":null,"open_issues_count":75,"forks":33,"open_issues":75,"watchers":247,"default_branch":"master","license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"organization":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"network_count":33,"subscribers_count":38}'
  recorded_at: Mon, 15 Aug 2016 20:58:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1471297209'
      Etag:
      - W/"c945607a6466c180c7c768a61792f4dd"
      Last-Modified:
      - Mon, 15 Aug 2016 14:03:05 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".env","path":".env","sha":"810c9f13a4094df1e44c1f1dca4207783d08fc42","size":388,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","download_url":"https://raw.githubusercontent.com/linuxfoundation/cii-best-practices-badge/master/.env","type":"file","_links":{"self":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","git":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","html":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env"}},{"name":".eslintignore","path":".eslintignore","sha":"57062616bd8a6eb0a7cb0603275fd9a995eca828","size":461,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.eslintignore?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.eslintignore","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/57062616bd[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1471297209'
      Etag:
      - W/"997a8c3d7f45d8b272996ef2d479aeb4"
      Last-Modified:
      - Fri, 12 Aug 2016 19:08:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"INSTALL.md","path":"doc/INSTALL.md","sha":"019a37ba1e86daecb8abb73ba176db59e68aa9fa","size":8946,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/INSTALL.md","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/019a37ba1e86daecb8abb73ba176db59e68aa9fa","download_url":"https://raw.githubusercontent.com/linuxfoundation/cii-best-practices-badge/master/doc/INSTALL.md","type":"file","content":"IyBJbnN0YWxsYXRpb24gaW5zdHJ1Y3Rpb25zCgo8IS0tIFNQRFgtTGljZW5z\nZS1JZGVudGlmaWVyOiAoTUlUIE9SIENDLUJZLTMuMCspIC0tPgoKSGVyZSBp\ncyBob3cgdG8gaW5zdGFsbCB0aGUgIkJhZGdlQXBwIiB3ZWIgYXBwbGljYXRp\nb24sIGZvciBlaXRoZXIgYSBkZXZlbG9wbWVudAplbnZpcm9ubWVudCBvciBm\nb3IgZGVwbG95bWVudC4KT24gbW9zdCBzeXN0ZW1zIHRoaXMgaXMgYSBmYWly\nbHkgcXVpY2sgYW5kIHBhaW5sZXNzIHByb2Nlc3MuCgpXZSBwcm92aWRlIGEg\nc2ltcGxlIHNjcmlwdCB0aGF0IGRvZXMgdGhlIHdvcmssIGFuZCB3ZSBlbXBo\nYXNpemUgdXNpbmcKd2lkZWx5LXVzZWQgdG9vbHMgZGVzaWduZWQgZm9yIHRo\nZSB[...]
