---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1553907898'
      Etag:
      - W/"4cfca7fa801dbb0f50b91b19bbc9ccc8"
      Last-Modified:
      - Fri, 29 Mar 2019 00:19:49 GMT
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"node_id":"MDEwOlJlcG9zaXRvcnkzOTUyODA0OQ==","name":"best-practices-badge","full_name":"coreinfrastructure/best-practices-badge","private":false,"owner":{"login":"coreinfrastructure","id":29407097,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI5NDA3MDk3","avatar_url":"https://avatars1.githubusercontent.com/u/29407097?v=4","gravatar_id":"","url":"https://api.github.com/users/coreinfrastructure","html_url":"https://github.com/coreinfrastructure","followers_url":"https://api.github.com/users/coreinfrastructure/followers","following_url":"https://api.github.com/users/coreinfrastructure/following{/other_user}","gists_url":"https://api.github.com/users/coreinfrastructure/gists{/gist_id}","starred_url":"https://api.github.com/users/coreinfrastructure/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coreinfrastructure/subscriptions","organizations_url":"https://api.github.com/users/coreinfrastructure/orgs","repos_url":"https://api.github.com/users/coreinfrastructure/repos","events_url":"https://api.github.com/users/coreinfrastructure/events{/privacy}","received_events_url":"https://api.github.com/users/coreinfrastructure/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/coreinfrastructure/best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge","forks_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/forks","keys_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/teams","hooks_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/events","assignees_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/tags","blobs_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/subscription","commits_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/merges","archive_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/downloads","issues_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/releases{/id}","deployments_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/deployments","created_at":"2015-07-22T20:14:25Z","updated_at":"2019-03-29T00:19:49Z","pushed_at":"2019-03-29T03:58:27Z","git_url":"git://github.com/coreinfrastructure/best-practices-badge.git","ssh_url":"git@github.com:coreinfrastructure/best-practices-badge.git","clone_url":"https://github.com/coreinfrastructure/best-practices-badge.git","svn_url":"https://github.com/coreinfrastructure/best-practices-badge","homepage":"https://bestpractices.coreinfrastructure.org","size":31390,"stargazers_count":693,"watchers_count":693,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":108,"mirror_url":null,"archived":false,"open_issues_count":137,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":108,"open_issues":137,"watchers":693,"default_branch":"master","organization":{"login":"coreinfrastructure","id":29407097,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI5NDA3MDk3","avatar_url":"https://avatars1.githubusercontent.com/u/29407097?v=4","gravatar_id":"","url":"https://api.github.com/users/coreinfrastructure","html_url":"https://github.com/coreinfrastructure","followers_url":"https://api.github.com/users/coreinfrastructure/followers","following_url":"https://api.github.com/users/coreinfrastructure/following{/other_user}","gists_url":"https://api.github.com/users/coreinfrastructure/gists{/gist_id}","starred_url":"https://api.github.com/users/coreinfrastructure/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coreinfrastructure/subscriptions","organizations_url":"https://api.github.com/users/coreinfrastructure/orgs","repos_url":"https://api.github.com/users/coreinfrastructure/repos","events_url":"https://api.github.com/users/coreinfrastructure/events{/privacy}","received_events_url":"https://api.github.com/users/coreinfrastructure/received_events","type":"Organization","site_admin":false},"network_count":108,"subscribers_count":52}'
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/languages?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049/languages?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b&per_page=100
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/languages?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b&per_page=100","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/languages?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1553907898'
      Etag:
      - W/"8e9f9bc2c83814c63235914f1a0eb389"
      Last-Modified:
      - Fri, 29 Mar 2019 00:19:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":552732,"HTML":134701,"JavaScript":26409,"Shell":19483,"CSS":12832,"Makefile":384}'
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 30 Mar 2019 00:09:45 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1553907899'
      Etag:
      - W/"bb972a5fbfd697ad1ed4d3c4270e14cb2247866d"
      Last-Modified:
      - Fri, 29 Mar 2019 00:19:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".circleci","path":".circleci","sha":"fb61c5056fc5b138e629fba86ad5176f3d59d99c","size":0,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.circleci?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/tree/master/.circleci","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/trees/fb61c5056fc5b138e629fba86ad5176f3d59d99c","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.circleci?ref=master","git":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/trees/fb61c5056fc5b138e629fba86ad5176f3d59d99c","html":"https://github.com/coreinfrastructure/best-practices-badge/tree/master/.circleci"}},{"name":".env","path":".env","sha":"da64cf5e8c70a6cd6dae055746c21507cecbf3cc","size":419,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/da64cf5e8c70a6cd6dae055746c21507cecbf3cc","do[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4949'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sat, 30 Mar 2019 00:09:46 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1553907898'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sat, 30 Mar 2019 00:09:46 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1553907898'
      Etag:
      - W/"443bd92122bbebd9fddbbf1938e5f0cfefd88fec"
      Last-Modified:
      - Tue, 26 Mar 2019 15:13:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"INSTALL.md","path":"doc/INSTALL.md","sha":"443bd92122bbebd9fddbbf1938e5f0cfefd88fec","size":13975,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/doc/INSTALL.md?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/INSTALL.md","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/443bd92122bbebd9fddbbf1938e5f0cfefd88fec","download_url":"https://raw.githubusercontent.com/coreinfrastructure/best-practices-badge/master/doc/INSTALL.md","type":"file","content":"IyBJbnN0YWxsYXRpb24gYW5kIHF1aWNrIHN0YXJ0IGluc3RydWN0aW9ucwoK\nPCEtLSBTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogKE1JVCBPUiBDQy1CWS0z\nLjArKSAtLT4KCkhlcmUgaXMgaG93IHRvIGluc3RhbGwgdGhlICJCYWRnZUFw\ncCIgd2ViIGFwcGxpY2F0aW9uLCBmb3IgZWl0aGVyIGEgZGV2ZWxvcG1lbnQK\nZW52aXJvbm1lbnQgb3IgZm9yIGRlcGxveW1lbnQuCk9uIG1vc3Qgc3lzdGVt\ncyB0aGlzIGlzIGEgZmFpcmx5IHF1aWNrIGFuZCBwYWlubGVzcyBwcm9jZXNz\nLgpXZSBhbHNvIHByb3ZpZGUgaW5mb3JtYXRpb24gb24gaG93IHRvIHF1aWNr\nbHkgZ2V0IHN0YXJ0ZWQgc28geW91CmNhbiAqZG8qIHNvbWV0aGluZy4KCldl\nIHB[...]
