---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1473547379'
      Etag:
      - W/"e547df6d9b82b8ae90e780ddb53ff7b8"
      Last-Modified:
      - Fri, 09 Sep 2016 05:00:13 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"name":"cii-best-practices-badge","full_name":"linuxfoundation/cii-best-practices-badge","owner":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/linuxfoundation/cii-best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge","forks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/forks","keys_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/teams","hooks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/events","assignees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/tags","blobs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscription","commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/merges","archive_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/downloads","issues_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/releases{/id}","deployments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/deployments","created_at":"2015-07-22T20:14:25Z","updated_at":"2016-09-09T05:00:13Z","pushed_at":"2016-09-10T20:18:52Z","git_url":"git://github.com/linuxfoundation/cii-best-practices-badge.git","ssh_url":"git@github.com:linuxfoundation/cii-best-practices-badge.git","clone_url":"https://github.com/linuxfoundation/cii-best-practices-badge.git","svn_url":"https://github.com/linuxfoundation/cii-best-practices-badge","homepage":"https://bestpractices.coreinfrastructure.org","size":5200,"stargazers_count":285,"watchers_count":285,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":35,"mirror_url":null,"open_issues_count":76,"forks":35,"open_issues":76,"watchers":285,"default_branch":"master","license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"organization":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"network_count":35,"subscribers_count":39}'
  recorded_at: Sat, 10 Sep 2016 22:12:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1473547379'
      Etag:
      - W/"1cff2211dca481ca385f45c5b5e192fc"
      Last-Modified:
      - Fri, 09 Sep 2016 05:00:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".env","path":".env","sha":"810c9f13a4094df1e44c1f1dca4207783d08fc42","size":388,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","download_url":"https://raw.githubusercontent.com/linuxfoundation/cii-best-practices-badge/master/.env","type":"file","_links":{"self":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","git":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","html":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env"}},{"name":".eslintignore","path":".eslintignore","sha":"57062616bd8a6eb0a7cb0603275fd9a995eca828","size":461,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.eslintignore?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.eslintignore","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/57062616bd[...]
[...]
