---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1497561328'
      Location:
      - https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 15 Jun 2017 20:23:20 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1497561328'
      Etag:
      - W/"10e97b4015796ef482f1d2fe835f8cf8"
      Last-Modified:
      - Thu, 15 Jun 2017 19:03:42 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"name":"best-practices-badge","full_name":"coreinfrastructure/best-practices-badge","owner":{"login":"coreinfrastructure","id":29407097,"avatar_url":"https://avatars2.githubusercontent.com/u/29407097?v=3","gravatar_id":"","url":"https://api.github.com/users/coreinfrastructure","html_url":"https://github.com/coreinfrastructure","followers_url":"https://api.github.com/users/coreinfrastructure/followers","following_url":"https://api.github.com/users/coreinfrastructure/following{/other_user}","gists_url":"https://api.github.com/users/coreinfrastructure/gists{/gist_id}","starred_url":"https://api.github.com/users/coreinfrastructure/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coreinfrastructure/subscriptions","organizations_url":"https://api.github.com/users/coreinfrastructure/orgs","repos_url":"https://api.github.com/users/coreinfrastructure/repos","events_url":"https://api.github.com/users/coreinfrastructure/events{/privacy}","received_events_url":"https://api.github.com/users/coreinfrastructure/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/coreinfrastructure/best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge","forks_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/forks","keys_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/teams","hooks_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/events","assignees_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/tags","blobs_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/subscription","commits_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/merges","archive_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/downloads","issues_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/releases{/id}","deployments_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/deployments","created_at":"2015-07-22T20:14:25Z","updated_at":"2017-06-15T19:03:42Z","pushed_at":"2017-06-15T20:07:06Z","git_url":"git://github.com/coreinfrastructure/best-practices-badge.git","ssh_url":"git@github.com:coreinfrastructure/best-practices-badge.git","clone_url":"https://github.com/coreinfrastructure/best-practices-badge.git","svn_url":"https://github.com/coreinfrastructure/best-practices-badge","homepage":"https://bestpractices.coreinfrastructure.org","size":17199,"stargazers_count":411,"watchers_count":411,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":66,"mirror_url":null,"open_issues_count":83,"forks":66,"open_issues":83,"watchers":411,"default_branch":"master","license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"organization":{"login":"coreinfrastructure","id":29407097,"avatar_url":"https://avatars2.githubusercontent.com/u/29407097?v=3","gravatar_id":"","url":"https://api.github.com/users/coreinfrastructure","html_url":"https://github.com/coreinfrastructure","followers_url":"https://api.github.com/users/coreinfrastructure/followers","following_url":"https://api.github.com/users/coreinfrastructure/following{/other_user}","gists_url":"https://api.github.com/users/coreinfrastructure/gists{/gist_id}","starred_url":"https://api.github.com/users/coreinfrastructure/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coreinfrastructure/subscriptions","organizations_url":"https://api.github.com/users/coreinfrastructure/orgs","repos_url":"https://api.github.com/users/coreinfrastructure/repos","events_url":"https://api.github.com/users/coreinfrastructure/events{/privacy}","received_events_url":"https://api.github.com/users/coreinfrastructure/received_events","type":"Organization","site_admin":false},"network_count":66,"subscribers_count":51}'
  recorded_at: Thu, 15 Jun 2017 20:23:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1497561328'
      Location:
      - https://api.github.com/repositories/39528049/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 15 Jun 2017 20:23:21 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1497561328'
      Etag:
      - W/"2f67879cbd25d7ca50b609f4ec45bde1"
      Last-Modified:
      - Thu, 15 Jun 2017 19:03:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".env","path":".env","sha":"810c9f13a4094df1e44c1f1dca4207783d08fc42","size":388,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","download_url":"https://raw.githubusercontent.com/coreinfrastructure/best-practices-badge/master/.env","type":"file","_links":{"self":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.env?ref=master","git":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","html":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.env"}},{"name":".eslintignore","path":".eslintignore","sha":"08c095bc04752863b15d22b73de41e8009194bfa","size":461,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.eslintignore?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.eslintignore","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/08c095bc047528[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1497561328'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 15 Jun 2017 20:23:21 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1497561328'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Thu, 15 Jun 2017 20:23:22 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1497561328'
      Etag:
      - W/"c622ea8af16dc471a5a7bc717910b790"
      Last-Modified:
      - Thu, 15 Jun 2017 20:07:00 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"INSTALL.md","path":"doc/INSTALL.md","sha":"30d77fb16399a396b71ae54122aa5bc44708b9b8","size":10438,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/doc/INSTALL.md?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/INSTALL.md","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/30d77fb16399a396b71ae54122aa5bc44708b9b8","download_url":"https://raw.githubusercontent.com/coreinfrastructure/best-practices-badge/master/doc/INSTALL.md","type":"file","content":"IyBJbnN0YWxsYXRpb24gaW5zdHJ1Y3Rpb25zCgo8IS0tIFNQRFgtTGljZW5z\nZS1JZGVudGlmaWVyOiAoTUlUIE9SIENDLUJZLTMuMCspIC0tPgoKSGVyZSBp\ncyBob3cgdG8gaW5zdGFsbCB0aGUgIkJhZGdlQXBwIiB3ZWIgYXBwbGljYXRp\nb24sIGZvciBlaXRoZXIgYSBkZXZlbG9wbWVudAplbnZpcm9ubWVudCBvciBm\nb3IgZGVwbG95bWVudC4KT24gbW9zdCBzeXN0ZW1zIHRoaXMgaXMgYSBmYWly\nbHkgcXVpY2sgYW5kIHBhaW5sZXNzIHByb2Nlc3MuCgpXZSBwcm92aWRlIGEg\nc2ltcGxlIHNjcmlwdCB0aGF0IGRvZXMgdGhlIHdvcmssIGFuZCB3ZSBlbXBo\nYXNpemUgdXNpbmcKd2lkZWx5LXVzZWQgdG9vbHMgZGVzaWduZWQgZm9yIHRo\nZSB[...]
