---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ciitest/test-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1581442086'
      Etag:
      - W/"f3b555e18fab1fac97d8540978b5f37e"
      Last-Modified:
      - Mon, 06 Aug 2018 03:25:38 GMT
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":58476744,"node_id":"MDEwOlJlcG9zaXRvcnk1ODQ3Njc0NA==","name":"test-repo","full_name":"ciitest/test-repo","private":false,"owner":{"login":"ciitest","id":19290351,"node_id":"MDQ6VXNlcjE5MjkwMzUx","avatar_url":"https://avatars2.githubusercontent.com/u/19290351?v=4","gravatar_id":"","url":"https://api.github.com/users/ciitest","html_url":"https://github.com/ciitest","followers_url":"https://api.github.com/users/ciitest/followers","following_url":"https://api.github.com/users/ciitest/following{/other_user}","gists_url":"https://api.github.com/users/ciitest/gists{/gist_id}","starred_url":"https://api.github.com/users/ciitest/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ciitest/subscriptions","organizations_url":"https://api.github.com/users/ciitest/orgs","repos_url":"https://api.github.com/users/ciitest/repos","events_url":"https://api.github.com/users/ciitest/events{/privacy}","received_events_url":"https://api.github.com/users/ciitest/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ciitest/test-repo","description":":bulb:
        This is for testing the OpenSSF Best Practices BadgeApp :thumbsup:","fork":false,"url":"https://api.github.com/repos/ciitest/test-repo","forks_url":"https://api.github.com/repos/ciitest/test-repo/forks","keys_url":"https://api.github.com/repos/ciitest/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ciitest/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ciitest/test-repo/teams","hooks_url":"https://api.github.com/repos/ciitest/test-repo/hooks","issue_events_url":"https://api.github.com/repos/ciitest/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/ciitest/test-repo/events","assignees_url":"https://api.github.com/repos/ciitest/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/ciitest/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/ciitest/test-repo/tags","blobs_url":"https://api.github.com/repos/ciitest/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ciitest/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ciitest/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/ciitest/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ciitest/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/ciitest/test-repo/languages","stargazers_url":"https://api.github.com/repos/ciitest/test-repo/stargazers","contributors_url":"https://api.github.com/repos/ciitest/test-repo/contributors","subscribers_url":"https://api.github.com/repos/ciitest/test-repo/subscribers","subscription_url":"https://api.github.com/repos/ciitest/test-repo/subscription","commits_url":"https://api.github.com/repos/ciitest/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/ciitest/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/ciitest/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/ciitest/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/ciitest/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/ciitest/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ciitest/test-repo/merges","archive_url":"https://api.github.com/repos/ciitest/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ciitest/test-repo/downloads","issues_url":"https://api.github.com/repos/ciitest/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/ciitest/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/ciitest/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/ciitest/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ciitest/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/ciitest/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/ciitest/test-repo/deployments","created_at":"2016-05-10T16:25:22Z","updated_at":"2018-08-06T03:25:38Z","pushed_at":"2018-08-06T03:25:36Z","git_url":"git://github.com/ciitest/test-repo.git","ssh_url":"git@github.com:ciitest/test-repo.git","clone_url":"https://github.com/ciitest/test-repo.git","svn_url":"https://github.com/ciitest/test-repo","homepage":"","size":2,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","temp_clone_token":null,"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 11 Feb 2020 17:12:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ciitest/test-repo/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1581442085'
      Etag:
      - '"bf576b13d7017f312a2ff759c9c7d512"'
      Last-Modified:
      - Mon, 06 Aug 2018 03:25:38 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Python":43}'
  recorded_at: Tue, 11 Feb 2020 17:12:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ciitest/test-repo/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d41c935eb5c029c094b396655d6701ed2035fea14feb9434d73918c953bbc336"'
      Last-Modified:
      - Mon, 06 Aug 2018 03:25:38 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1718873747'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '[{"name":"v1.99.0","zipball_url":"https://api.github.com/repos/assimilation/assimilation-official/zipball/refs/tags/v1.99.0","tarball_url":"https://api.github.com/repos/assimilation/assimilation-official/tarball/refs/tags/v1.99.0","commit":{"sha":"436e71b51def92ac7c27c02e9858b533894673e8","url":"https://api.github.com/repos/assimilation/assimilation-official/commits/436e71b51def92ac7c27c02e9858b533894673e8"},"node_id":"MDM6UmVmNDIzNzMwNDY6cmVmcy90YWdzL3YxLjk5LjA="},{"name":"v1.1.8-pre","zipball_url":"https://api.github.com/repos/assimilation/assimilation-official/zipball/refs/tags/v1.1.8-pre","tarball_url":"https://api.github.com/repos/assimilation/assimilation-official/tarball/refs/tags/v1.1.8-pre","commit":{"sha":"0c23c66c1f5c9870f8a43[...]
