---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1466005913'
      Etag:
      - W/"53ed95cb1c126071ef78f10effc35d5e"
      Last-Modified:
      - Tue, 14 Jun 2016 15:45:32 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"name":"cii-best-practices-badge","full_name":"linuxfoundation/cii-best-practices-badge","owner":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/linuxfoundation/cii-best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge","forks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/forks","keys_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/teams","hooks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/events","assignees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/tags","blobs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscription","commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/merges","archive_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/downloads","issues_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/releases{/id}","deployments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/deployments","created_at":"2015-07-22T20:14:25Z","updated_at":"2016-06-14T15:45:32Z","pushed_at":"2016-06-15T14:44:52Z","git_url":"git://github.com/linuxfoundation/cii-best-practices-badge.git","ssh_url":"git@github.com:linuxfoundation/cii-best-practices-badge.git","clone_url":"https://github.com/linuxfoundation/cii-best-practices-badge.git","svn_url":"https://github.com/linuxfoundation/cii-best-practices-badge","homepage":"https://bestpractices.coreinfrastructure.org","size":4371,"stargazers_count":214,"watchers_count":214,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":30,"mirror_url":null,"open_issues_count":50,"forks":30,"open_issues":50,"watchers":214,"default_branch":"master","license":{"key":"mit","name":"MIT
        License","url":"https://api.github.com/licenses/mit","featured":true},"organization":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"network_count":30,"subscribers_count":37}'
  recorded_at: Wed, 15 Jun 2016 14:54:28 GMT
recorded_with: VCR 3.0.3
