---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1519584407'
      Location:
      - https://api.github.com/repositories/74394497/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 25 Feb 2018 17:48:17 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/74394497/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1519584407'
      Etag:
      - W/"9aa962aed560f4d34cee988999c0fd24089d7624"
      Last-Modified:
      - Mon, 21 Nov 2016 19:04:48 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"README.md","path":"README.md","sha":"a981213ae539d59457949e392a188d41a35c009b","size":21,"url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/README.md?ref=master","html_url":"https://github.com/david-a-wheeler/test-badge-project/blob/master/README.md","git_url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/blobs/a981213ae539d59457949e392a188d41a35c009b","download_url":"https://raw.githubusercontent.com/david-a-wheeler/test-badge-project/master/README.md","type":"file","_links":{"self":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/README.md?ref=master","git":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/blobs/a981213ae539d59457949e392a188d41a35c009b","html":"https://github.com/david-a-wheeler/test-badge-project/blob/master/README.md"}},{"name":"doc","path":"doc","sha":"cefcfbb2a10ca405295fe604836fbdcdd1eb50f4","size":0,"url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc?ref=master","html_url":"https://github.com/david-a-wheeler/test-badge-project/tree/master/doc","git_url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/trees/cefcfbb2a10ca405295fe604836fbdcdd1eb50f4","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc?ref=master","git":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/trees/cefcfbb2a10ca405295fe604836fbdcdd1eb50f4","html":"https://github.com/david-a-wheeler/test-badge-project/tree/master/doc"}}]'
  recorded_at: Sun, 25 Feb 2018 17:48:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc/somedoc.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1519584407'
      Etag:
      - W/"9edec62594ff28249393febd3111da1cf8ccc6ff"
      Last-Modified:
      - Mon, 23 Jan 2017 20:27:55 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"somedoc.md","path":"doc/somedoc.md","sha":"9edec62594ff28249393febd3111da1cf8ccc6ff","size":21,"url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc/somedoc.md?ref=master","html_url":"https://github.com/david-a-wheeler/test-badge-project/blob/master/doc/somedoc.md","git_url":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/blobs/9edec62594ff28249393febd3111da1cf8ccc6ff","download_url":"https://raw.githubusercontent.com/david-a-wheeler/test-badge-project/master/doc/somedoc.md","type":"file","content":"IyBEb2N1bWVudGF0aW9uIEZpbGUK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc/somedoc.md?ref=master","git":"https://api.github.com/repos/david-a-wheeler/test-badge-project/git/blobs/9edec62594ff28249393febd3111da1cf8ccc6ff","html":"https://github.com/david-a-wheeler/test-badge-project/blob/master/doc/somedoc.md"}}'
  recorded_at: Sun, 25 Feb 2018 17:48:17 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1581398118'
      Location:
      - https://api.github.com/repositories/74394497/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Feb 2020 04:15:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 [...]
- request:
    method: get
    uri: https://api.github.com/repos/david-a-wheeler/test-badge-project/contents/doc/somedoc.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
 [...]
[...]
