---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1519584407'
      Location:
      - https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sun, 25 Feb 2018 17:48:16 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents//?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1519584407'
      Location:
      - https://api.github.com/repositories/39528049/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 25 Feb 2018 17:48:16 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1519584407'
      Etag:
      - W/"fdbc0d01c50f92f3b40b767882f4fe71325b7119"
      Last-Modified:
      - Wed, 21 Feb 2018 13:57:06 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".env","path":".env","sha":"810c9f13a4094df1e44c1f1dca4207783d08fc42","size":388,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","download_url":"https://raw.githubusercontent.com/coreinfrastructure/best-practices-badge/master/.env","type":"file","_links":{"self":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.env?ref=master","git":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/810c9f13a4094df1e44c1f1dca4207783d08fc42","html":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.env"}},{"name":".eslintignore","path":".eslintignore","sha":"08c095bc04752863b15d22b73de41e8009194bfa","size":461,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/.eslintignore?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/.eslintignore","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/08c095bc047528[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1519584407'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sun, 25 Feb 2018 17:48:16 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1519584407'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Sun, 25 Feb 2018 17:48:17 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc/INSTALL.md?client_id=3e90194c70b57b71188e&client_secret=d2e3f002838f611a514b84a1727bf6e500a67d2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1519584407'
      Etag:
      - W/"fa4027a4c7b768053c658370f5054014e8637d6a"
      Last-Modified:
      - Sun, 25 Feb 2018 14:23:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"INSTALL.md","path":"doc/INSTALL.md","sha":"fa4027a4c7b768053c658370f5054014e8637d6a","size":12833,"url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/contents/doc/INSTALL.md?ref=master","html_url":"https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/INSTALL.md","git_url":"https://api.github.com/repos/coreinfrastructure/best-practices-badge/git/blobs/fa4027a4c7b768053c658370f5054014e8637d6a","download_url":"https://raw.githubusercontent.com/coreinfrastructure/best-practices-badge/master/doc/INSTALL.md","type":"file","content":"IyBJbnN0YWxsYXRpb24gYW5kIHF1aWNrIHN0YXJ0IGluc3RydWN0aW9ucwoK\nPCEtLSBTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogKE1JVCBPUiBDQy1CWS0z\nLjArKSAtLT4KCkhlcmUgaXMgaG93IHRvIGluc3RhbGwgdGhlICJCYWRnZUFw\ncCIgd2ViIGFwcGxpY2F0aW9uLCBmb3IgZWl0aGVyIGEgZGV2ZWxvcG1lbnQK\nZW52aXJvbm1lbnQgb3IgZm9yIGRlcGxveW1lbnQuCk9uIG1vc3Qgc3lzdGVt\ncyB0aGlzIGlzIGEgZmFpcmx5IHF1aWNrIGFuZCBwYWlubGVzcyBwcm9jZXNz\nLgpXZSBhbHNvIHByb3ZpZGUgaW5mb3JtYXRpb24gb24gaG93IHRvIHF1aWNr\nbHkgZ2V0IHN0YXJ0ZWQgc28geW91CmNhbiAqZG8qIHNvbWV0aGluZy4KCldl\nIHB[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1581398118'
      Location:
      - https://api.github.com/repositories/39528049/contents//
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents//","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 11 Feb 2020 04:15:12 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1581398118'
      Location:
      - https://api.github.com/repositories/39528049/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Feb 2020 04:15:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1581398119'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 11 Feb 2020 04:15:12 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/doc/INSTALL.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 301 Moved Permanently
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1581398119'
      Location:
      - https://api.github.com/repositories/39528049/contents/doc/INSTALL.md
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/39528049/contents/doc/INSTALL.md","documentation_url":"https://developer.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 11 Feb 2020 04:15:12 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/39528049/contents/doc/INSTALL.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic M2U5MDE5NGM3MGI1N2I3MTE4OGU6ZDJlM2YwMDI4MzhmNjExYTUxNGI4NGExNzI3YmY2ZTUwMGE2N2QyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
     [...]
