---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1448670037'
      Last-Modified:
      - Sat, 21 Nov 2015 21:58:07 GMT
      Etag:
      - W/"93687f42122e8957463373886cfa3be6"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":39528049,"name":"cii-best-practices-badge","full_name":"linuxfoundation/cii-best-practices-badge","owner":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/linuxfoundation/cii-best-practices-badge","description":"Core
        Infrastructure Initiative Best Practices Badge","fork":false,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge","forks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/forks","keys_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/keys{/key_id}","collaborators_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/teams","hooks_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/hooks","issue_events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/events{/number}","events_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/events","assignees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/assignees{/user}","branches_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/branches{/branch}","tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/tags","blobs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/refs{/sha}","trees_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/trees{/sha}","statuses_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/statuses/{sha}","languages_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/languages","stargazers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/stargazers","contributors_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contributors","subscribers_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscribers","subscription_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/subscription","commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/commits{/sha}","git_commits_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/commits{/sha}","comments_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/comments{/number}","issue_comment_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues/comments{/number}","contents_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/{+path}","compare_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/compare/{base}...{head}","merges_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/merges","archive_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/downloads","issues_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/issues{/number}","pulls_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/pulls{/number}","milestones_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/milestones{/number}","notifications_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/labels{/name}","releases_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/releases{/id}","created_at":"2015-07-22T20:14:25Z","updated_at":"2015-11-21T21:58:07Z","pushed_at":"2015-11-27T21:19:24Z","git_url":"git://github.com/linuxfoundation/cii-best-practices-badge.git","ssh_url":"git@github.com:linuxfoundation/cii-best-practices-badge.git","clone_url":"https://github.com/linuxfoundation/cii-best-practices-badge.git","svn_url":"https://github.com/linuxfoundation/cii-best-practices-badge","homepage":null,"size":2604,"stargazers_count":64,"watchers_count":64,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":11,"mirror_url":null,"open_issues_count":43,"forks":11,"open_issues":43,"watchers":64,"default_branch":"master","organization":{"login":"linuxfoundation","id":1040002,"avatar_url":"https://avatars.githubusercontent.com/u/1040002?v=3","gravatar_id":"","url":"https://api.github.com/users/linuxfoundation","html_url":"https://github.com/linuxfoundation","followers_url":"https://api.github.com/users/linuxfoundation/followers","following_url":"https://api.github.com/users/linuxfoundation/following{/other_user}","gists_url":"https://api.github.com/users/linuxfoundation/gists{/gist_id}","starred_url":"https://api.github.com/users/linuxfoundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linuxfoundation/subscriptions","organizations_url":"https://api.github.com/users/linuxfoundation/orgs","repos_url":"https://api.github.com/users/linuxfoundation/repos","events_url":"https://api.github.com/users/linuxfoundation/events{/privacy}","received_events_url":"https://api.github.com/users/linuxfoundation/received_events","type":"Organization","site_admin":false},"network_count":11,"subscribers_count":25}'
  recorded_at: Sat, 28 Nov 2015 00:00:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/license
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1448670037'
      Last-Modified:
      - Fri, 27 Nov 2015 21:17:53 GMT
      Etag:
      - W/"dd1a26fd9b71c435bcf8896aaba64866"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"name":"LICENSE","path":"LICENSE","sha":"abfda27cc173bb59d8b2d781ad20d5ec75ab06e3","size":1157,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/LICENSE?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/LICENSE","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/abfda27cc173bb59d8b2d781ad20d5ec75ab06e3","download_url":"https://raw.githubusercontent.com/linuxfoundation/cii-best-practices-badge/master/LICENSE","type":"file","content":"VGhlIE1JVCBMaWNlbnNlIChNSVQpCgpDb3B5cmlnaHQgKGMpIDIwMTUgVGhl\nIExpbnV4IEZvdW5kYXRpb24sIHRoZSBJbnN0aXR1dGUgZm9yIERlZmVuc2Ug\nQW5hbHlzZXMsCmFuZCBvdGhlciBwcm9qZWN0IGNvbnRyaWJ1dG9ycy4KClBl\ncm1pc3Npb24gaXMgaGVyZWJ5IGdyYW50ZWQsIGZyZWUgb2YgY2hhcmdlLCB0\nbyBhbnkgcGVyc29uIG9idGFpbmluZyBhIGNvcHkKb2YgdGhpcyBzb2Z0d2Fy\nZSBhbmQgYXNzb2NpYXRlZCBkb2N1bWVudGF0aW9uIGZpbGVzICh0aGUgIlNv\nZnR3YXJlIiksIHRvIGRlYWwKaW4gdGhlIFNvZnR3YXJlIHdpdGhvdXQgcmVz\ndHJpY3Rpb24sIGluY2x1ZGluZyB3aXRob3V0IGxpbWl0YXRpb24gdGhlIHJp\nZ2h[...]
- request:
    method: get
    uri: https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1448670037'
      Last-Modified:
      - Sat, 21 Nov 2015 21:58:07 GMT
      Etag:
      - W/"20254e7b52a0098dd4f1a4bc6c097793"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".env","path":".env","sha":"fe453294ad06035d5192befe18c971c603f3da86","size":109,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/fe453294ad06035d5192befe18c971c603f3da86","download_url":"https://raw.githubusercontent.com/linuxfoundation/cii-best-practices-badge/master/.env","type":"file","_links":{"self":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.env?ref=master","git":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/fe453294ad06035d5192befe18c971c603f3da86","html":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.env"}},{"name":".gitignore","path":".gitignore","sha":"10f4e41d58d535fd320dfa54ef4e4ea9c59ada44","size":584,"url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/contents/.gitignore?ref=master","html_url":"https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/.gitignore","git_url":"https://api.github.com/repos/linuxfoundation/cii-best-practices-badge/git/blobs/10f4e41d58d535fd320dfa[...]
