         <% details_text_id = criteria + "_details_text" %>
         <button title="Toggle details text" type="button" onclick="$('#<%= details_text_id %>').toggle('slow');">&gt;&gt;</button>
         <span class="details_text" id="<%= details_text_id %>"><%= raw details %></span>
