         <% details_toggler_id = criteria + "_details_toggler" %>
         <% details_text_id = criteria + "_details_text" %>
         <button class="btn btn-info btn-xs details-toggler hidden-print" title="Toggle details text" type="button" id='<%= details_toggler_id %>'>Details</button>
         <div class="details-text" id="<%= details_text_id %>">
         <%= raw details %>
         </div>
