         <% more_text_id = criteria + "_more_text" %>
         <button title="Toggle more text" type="button" onclick="$('#<%= more_text_id %>').toggle('slow');">&gt;&gt;</button>
         <span class="more_text" id="<%= more_text_id %>"><%= more %></span>
