<div>
<br>
<!--h2 class='center'>Edit <%= @project.name %></h2-->

<% if logged_in? %>
  <%= render 'form', project: @project, is_disabled: false %>

<% else %>
  <% flash.now[:danger] = "Please log in to edit a project!"%>
<% end %>

</div>
