<div>
<br>
<br>
<% if logged_in? %>
  <%= render partial: 'form', locals: {is_disabled: false} %>
<% else %>
  <% flash.now[:danger] = "Please sign in to add a project!"%>
  <%= render :template => "sessions/new" %>
<% end %>

</div>
