<% if logged_in? %>
  <div class="row">
    <div class="col-md-2 col-xs-3">
      <div class="main-badge-ques"></div>
    </div>
    <div class="col-md-7 col-xs-6">
      <h2 class="text-uppercase m-t-0">Edit Project Badge Status</h2>
  <%= render 'form', project: @project, is_disabled: false,
      repo_disabled: repo_url_disabled?(@project) %>
<% else %>
  <% flash.now[:danger] = "Please log in to edit a project!"%>
<% end %>
