<% if logged_in? %>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <div class="main-badge-ques"></div>
    </div>
    <div class="col-md-7 col-sm-6">
      <h1 class="m-t-0 h2"><%= t('.edit_status') %></h1>
  <%= render "form_#{@criteria_level}", project: @project, is_disabled: false %>
<% else %>
  <% flash.now[:danger] = t('users.please_log_in') %>
<% end %>
