# Configuration file for tool rails_best_practices
# Note: Inside { } you can use "except_methods:" and "ignored_files:" to omit
# some checks.
AddModelVirtualAttributeCheck: { }
AlwaysAddDbIndexCheck: { }
CheckSaveReturnValueCheck: { }
DefaultScopeIsEvilCheck: { }
DryBundlerInCapistranoCheck: { }
HashSyntaxCheck: { }
IsolateSeedDataCheck: { }
KeepFindersOnTheirOwnModelCheck: { }
LawOfDemeterCheck: { }
#LongLineCheck: { max_line_length: 80 }
MoveCodeIntoControllerCheck: { }
MoveCodeIntoHelperCheck: { array_count: 3 }
MoveCodeIntoModelCheck: { use_count: 4 }
MoveFinderToNamedScopeCheck: { }
MoveModelLogicIntoModelCheck: { use_count: 20 }
NeedlessDeepNestingCheck: { nested_count: 2 }
NotRescueExceptionCheck: { }
NotUseDefaultRouteCheck: { }
NotUseTimeAgoInWordsCheck: { }
OveruseRouteCustomizationsCheck: { customize_count: 5 }
ProtectMassAssignmentCheck: { }
# RemoveEmptyHelpersCheck: { }
RemoveTabCheck: { }
RemoveTrailingWhitespaceCheck: { }
RemoveUnusedMethodsInControllersCheck: { except_methods: [
  'ApplicationController#append_info_to_payload' # hook called by Rails
  ] }
RemoveUnusedMethodsInHelpersCheck: { }
RemoveUnusedMethodsInModelsCheck: { except_methods: [
  'Criteria#to_h', # Used by tests
  'Criteria#must?', # Used in ERB template; doesn't notice.
  'Criteria#should?', # Used in ERB template; doesn't notice.
  'Criteria#met_justification_or_url_required?', # Used in ERB template
  'Criteria#keys',
  'Criteria#suggested?', # Used in ERB template; doesn't notice.
  'Project#created_since', # Scope called dynamically
  'Project#updated_since', # Scope called dynamically
  'Project#in_progress', # Scope used for search & in test, but tool misses it
  'Project#passing', # Scope used for search & in test, but tool misses it
  'Criterion#must?', # Used in ERB template; doesn't notice.
  'User#digest',
  'User#created_since', # Used by daily stamp (rake); doesn't notice
  'User#updated_since' # Used by daily stamp (rake); doesn't notice
  ] }
ReplaceComplexCreationWithFactoryMethodCheck: { attribute_assignment_count: 3 }
ReplaceInstanceVariableWithLocalVariableCheck: { }
# RestrictAutoGeneratedRoutesCheck: { }
SimplifyRenderInControllersCheck: { }
SimplifyRenderInViewsCheck: { }
# UseBeforeFilterCheck: { customize_count: 2 }
UseModelAssociationCheck: { }
UseMultipartAlternativeAsContentTypeOfEmailCheck: { }
UseParenthesesInMethodDefCheck: { }
UseObserverCheck: { }
UseQueryAttributeCheck: { }
UseSayWithTimeInMigrationsCheck: { }
# UseScopeAccessCheck: { }
UseTurboSprocketsRails3Check: { }
