

<div class="center jumbotron">
  <h2>OSS Badge Program</h2>
   <p>
   The Best Practices Badge is a secure open source development maturity model.
   Projects having a CII badge will showcase the project's commitment to security.
   Open source project maintainers will be able to run an automated tool and answer
   a short questionairre to be awarded a "Best Practices Badge".
   The CII Best Practices Badge is inspired by the multitude of badges
   available to projects on Github. Examples of initial criteria under discussion
   include basic open source development practices (website, open source license,
   and user engagement), use of change control tools, attention to quality
   (automated test suite), and focus on security (secure poject delivery method,
   use of dynamic and static analysis tools, as appropriate for the project).
   Consumers of the badge will be able to quickly assess which open source
   projects care about security conscious development.
</p>

</div>
