

<div class="center jumbotron">
  <h2>OSS Badge Program</h2>
   <p>
The CII Best Practices badge is a way for open source software (OSS) projects to show that they follow best practices. Projects can voluntarily self-certify, at no cost, by using this web application to explain how they follow each best practice. The CII Best Practices Badge is inspired by the many badges available to projects on Github. Consumers of the badge will be able to quickly assess which OSS projects are following best practices and as a result are more likely to produce higher-quality secure software.
</p>

<br>

<%= link_to 'Get Your Badge Now!', new_project_path, class:"btn btn-primary" %>

</div>
