// frozen_string_literal: true

// Base element styles (global HTML elements)
// Moved from static_pages.scss during CSS reorganization

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Project Display tables
.table thead tr th, .table tbody tr td {
  text-align: center;
}

.tab-title {
  margin-left: 5px;
  margin-right: 5px;
}

td p {
  text-align: left;
  font-size: 14px;
  line-height: 1.42857143;
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  min-width: 15em;
}
