// frozen_string_literal: true

// Shared Sass mixins
// Moved from static_pages.scss during CSS reorganization

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box_sizing:         border-box;
}

@mixin background_size($width, $height) {
  -webkit-background-size: $width $height;
     -moz-background-size: $width $height;
       -o-background-size: $width $height;
          background-size: $width $height;
}
