// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// === Moved from static_pages.scss during CSS reorganization ===

#session_remember_me {
  width: auto;
  margin-left: 0;
}
