// Header styles

// Navbar collapse breakpoint - width at which hamburger menu appears
// This is the maximum width where hamburger shows; items are horizontal above this
$navbar-collapse-breakpoint: 1200px;

.nav-color {
  background-color: #000;
  padding-top: 10px;
}

// Navbar width adjustments
.navbar.navbar-fixed-top {
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.navbar .container-fluid {
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar nav {
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

// Override Bootstrap's navbar-brand negative margin (logo #id has more specific margin)
.navbar-brand {
  margin-left: 0;  // Override Bootstrap's default -15px, #logo sets actual value
}

// Ensure hamburger button has space from right edge
.navbar-toggle {
  margin-right: 10px;
}

// Progress bar in navbar (consolidated from projects.scss)
.progress-mobile {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  font-size: 0.9em;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-bottom: 0;
}

@media only screen and (min-width: 767px) {
  .progress-mobile {
    width: 110px;
  }
}

.nav.navbar-nav.navbar-right > li > a {
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  font-weight: bold;
  &:hover {
  color: #4791FF;
  }
}

.dropdown-menu.reverse-dropdown {
  background-color: #222;
  &>li>a{
    color: #fff;
    &:hover{
    color: #4791FF;;
    background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

// Use flexbox to vertically center logo and hamburger
.navbar-header {
  display: flex !important;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-height: 50px;
  width: 100% !important;
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  // Remove Bootstrap's clearfix pseudo-elements (they break flexbox)
  &::before,
  &::after {
    display: none;
  }
}

// Progress bar positioning - two instances for different layouts
// Collapsed version: shown when hamburger is displayed, centered between logo and hamburger
.navbar-progress-collapsed {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;

  .progress-mobile {
    margin: 0;
  }
}

// Expanded version: shown at wide widths, in navbar-right list
.navbar-progress-expanded {
  display: none;  // Hidden by default (when hamburger shown)
}

#logo {
  background: image-url('openssf_bestpracticesbadge.svg') no-repeat left center;
  background-size: 30px 30px;
  padding-left: 35px;  // Icon width (30px) + 5px spacing
  margin-left: 10px;  // Small left margin for spacing
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

// Collapse navbar at widths below breakpoint to avoid wrapping
// This overrides Bootstrap's default 768px breakpoint
@media (max-width: $navbar-collapse-breakpoint) {
  .navbar-toggle {
    display: block !important;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }

  // When hamburger is displayed, always hide the expanded progress bar
  .navbar-progress-expanded {
    display: none !important;
  }
}

// Medium screens: Keep items horizontal when hamburger menu is expanded
@media (min-width: 768px) and (max-width: $navbar-collapse-breakpoint) {
  .navbar-collapse.collapse.in {
    .navbar-nav {
      float: right !important;
    }
    .navbar-nav > li {
      float: left;
    }
    // Dropdowns in horizontal collapsed navbar should appear as overlays
    .navbar-nav .dropdown-menu {
      position: absolute;
    }
  }
  // Reduce spacing and font size to fit all items including locale
  .nav.navbar-nav.navbar-right > li > a {
    font-size: 1em;
    margin-right: 5px;
  }
  // Reduce horizontal padding to maximize space
  .container.container_padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Small screens: Items vertical when hamburger menu is expanded
@media (max-width: 767px) {
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  // Dropdowns in vertical navbar should flow inline, not overlay
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  // Indent dropdown items to show hierarchy
  .navbar-nav .dropdown-menu > li > a {
    padding-left: 30px;
  }
}

// Reduce spacing on wider screens to maximize horizontal space
@media (min-width: $navbar-collapse-breakpoint + 1px) {
  // At wide widths, use Bootstrap's float-based layout (NOT flexbox)
  .navbar-header {
    display: block !important;  // Disable flexbox at wide widths
    float: left !important;
    width: auto !important;  // Auto width to fit content

    // Remove flexbox pseudo-element hiding only at wide widths
    &::before,
    &::after {
      display: table;  // Restore Bootstrap's clearfix
      content: " ";
    }
  }

  .navbar-collapse {
    display: block !important;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }

  .nav.navbar-nav.navbar-right {
    padding-right: 10px;
  }

  .nav.navbar-nav.navbar-right > li > a {
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // At wide widths, hide collapsed progress bar and show expanded one
  .navbar-progress-collapsed {
    display: none !important;
  }

  .navbar-progress-expanded {
    display: list-item !important;  // Show as normal list item
    margin-right: 15px;  // Space between progress bar and next item
  }
}

// Small screen adjustments
@media (max-width: 768px) {
  .nav-color {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav.navbar-nav.navbar-right > li > a {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 0;
  }
  .container.container_padding {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  #logo {
    font-size: 1.2em;
  }
}

#logo:hover {
  text-decoration: none;
}
