// Header styles
.nav-color {
  background-color: #000;
  padding-top: 10px;
}

.nav.navbar-nav.navbar-right > li > a {
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  margin-top: -10px;
  font-weight: bold;
  &:hover {
  color: #4791FF;
  }
}

.dropdown-menu.reverse-dropdown {
  background-color: #222;
  &>li>a{
    color: #fff;
    &:hover{
    color: #4791FF;;
    background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

#logo {
  background: image-url('cci-logo-header.png') no-repeat;
  padding: 5px 0 5px 40px;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  color: #fff;
}

#logo:hover {
  text-decoration: none;
}

//Responsive styles for the header at xs or cell phone size
@media (max-width: 768px) {
  .nav-color {
    padding-top: 10px;
    padding-left: 10px;
  }

  .nav.navbar-nav.navbar-right {
    // float: right;
  }


  .nav.navbar-nav.navbar-right > li > a {
    float: left;
    display:inline-block;
    font-size: 0.9em;
    margin-right: 10px;
    margin-top: -10px;
    // padding-bottom: 5px;
  }

  .container.container_padding {
    padding-top: 5px;
    padding-bottom: 0px;
  }

#logo {font-size: 1.2em;}
}
