// Header styles
.nav-color {
  background-color: #000;
  padding-top: 10px;
}

.nav.navbar-nav.navbar-right > li > a {
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  margin-top: -10px;
  font-weight: bold;
  &:hover {
  color: #4791FF;
  }
}

.dropdown-menu.reverse-dropdown {
  background-color: #222;
  &>li>a{
    color: #fff;
    &:hover{
    color: #4791FF;;
    background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

#logo {
  background: image-url('openssf_bestpracticesbadge.svg') no-repeat;
  position: relative;
  left: 15px;
  top: -5px;
  padding: 5px 0 5px 40px;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  color: #fff;
}

// Collapse navbar at widths below 1001px to avoid 2-line wrapping
@media (max-width: 1000px) {
  .navbar-toggle {
    display: block !important;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
}

// Reduce spacing on wider screens to maximize horizontal space
@media (min-width: 1001px) {
  #logo {
    left: 0;
    top: 0;
    margin-bottom: 10px;
  }
  .navbar .container_padding {
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav.navbar-nav.navbar-right > li > a {
    margin-right: 5px;
  }
}

// Small screen adjustments
@media (max-width: 768px) {
  .nav-color {
    padding-top: 10px;
    padding-left: 10px;
  }
  .nav.navbar-nav.navbar-right > li > a {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 0;
    margin-left: -5px;
    margin-top: -10px;
  }
  .container.container_padding {
    padding-top: 5px;
    padding-bottom: 0;
  }
  #logo {
    font-size: 1.2em;
  }
}

#logo:hover {
  text-decoration: none;
}
