// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// We use "word-wrap: break-word;" to be compatible with IE and Edge,
// even though word-wrap was renamed to overflow-wrap in CSS3. See:
// https://makandracards.com/makandra/47957-html-making-browsers-wrap-long-words
td.website {
  word-wrap: break-word;
  max-width: 150px;
}
td.license {
  word-wrap: break-word;
  max-width: 150px;
}
td.project_name {
  word-wrap: break-word;
}
