// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left {
  padding-left: 100px;
  padding-right: 100px;
}


.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-left: 100px;
  padding-right: 100px;
}

#logo {
  float: left;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-left: 10px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Project Display*/
.table thead tr th, .table tbody tr td {
  text-align: center;
}

.tab-title {
  margin-left: 5px;
  margin-right: 5px;
}

/* header */
.nav-color {
  background-color: #000066;
  padding-top: 10px;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  font-size: 1.2em;
  margin-right: 10px;
  &:hover {
  color: #4791FF;
  }
}

/* footer */

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 100px;
  background-color: #f8f8f8;
}


footer a {
  color: #555;
}


footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 25px;
}

/* forms */

input, textarea, select, .discussion-markdown, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

form.project_search input {
  width: auto;
}

form.project_search select {
  width: auto;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.display-none{
  display:none;
}

label.required:after {
  content:" *";
}

.criteria-desc {
}

.criteria-radio {
  padding-top: 5px;
  padding-left: 20px;
}

.criteria-radio label {
  font-family:Arial;
  font-size:1em;
  font-weight: normal;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h3 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*miscellaneous*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
/* Status chooser table*/
.borderless tbody tr td, .borderless tbody tr td label, .borderless tbody tr th, .borderless thead tr th, .borderless {
    border: none;
    padding: 0px 5px 0px 5px;
}

.required-data {
   background-color: yellow;
}

.justification-markdown {
  background-color: #eeeeee;
  p {
    padding-left: 5px;
  }
}

.discussion-markdown {
  background-color: #eeeeee;
  p {
    padding-left: 5px;
  }
}

td p {
  text-align: left;
  font-size: 14px;
  line-height: 1.42857143;
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  min-width: 15em;
}

.badge-progress {
  width: 0%;
  min-width: 5em;
  padding-left: 5px;
  padding-right: 5px;
}
