---
name: Codespell

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          ignore_words_file: .codespellignore
