<footer class="footer">
  <p><small>
  © 2015 Core Infrastructure Initiative, a Linux Foundation Collaborative Project. All Rights Reserved.
  </small>
  </p>
  <nav>
    <ul>
      <li><%= link_to image_tag('cii-footer.png', {height: 30, width: 120}),'https://www.coreinfrastructure.org/' %></li>
      <li><%= link_to image_tag('lf-footer.png', {height: 30, width: 120}),'http://www.linuxfoundation.org/' %></li>
      <!-- Link to Fastly is a condition for our use of their CDN services. -->
      <li><%= link_to image_tag('fastly-logo.png', {height: 17, width: 45}),'http://www.fastly.com/' %></li>
    </ul>
  </nav>
</footer>
