<% cache locale do -%>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= t :footer_text_html, scope: :layouts %></div>
    <div class="col-xs-12 col-md-6">
      <nav>
        <ul>
          <li><%= link_to image_tag('openssf_white.svg', {width: 120, height: 30}),'https://openssf.org/' %></li>
          <li><%= link_to image_tag('lf-footer.png', {width: 120, height: 30}),'https://www.linuxfoundation.org/' %></li>
          <!-- Link to Fastly is a condition for our use of their CDN services. -->
          <li><%= link_to image_tag('fastly-logo.png', {width: 45, height: 17, alt: 'Fastly logo'}),'https://www.fastly.com/' %></li>
        </ul>
      </nav>
    </div>
   </div>
  </div>
</footer>
<% end -%>
